.weather {
  width: 100vw;
  height: 100vh;
  color: white;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 100px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0  100px;

}

.city {
  padding: 30px;
  border-radius: 10px 10px 0 0;
  background: rgba(0, 0, 0, 0.30);
  font-weight: 600;
  font-size: 70px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weatherDescription {
  border-radius: 0 0 10px 10px;
  padding: 0 0 30px 30px;
  background: rgba(0, 0, 0, 0.30);
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  margin: 0;
}

.weatherIcons {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 150px;
  width: auto;
  letter-spacing: -5px;
  margin: 300px 0 0 0;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: end;
  background: rgba(0, 0, 0, 0.30);
  border-radius: 10px;
  margin: 300px 0 0 0;
  padding: 30px;
}

.parameterRow {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.parameterLabel {
  text-align: left;
  font-weight: bold;
  font-size: 25px;
  width: 250px;
}

/*.parameterLabel.top {*/
/*  !*width: 300px;*!*/
/*  !*border-bottom: 1px solid white;*!*/
/*  font-weight: 600;*/
/*  font-size: 30px;*/
/*}*/

.parameterValue {
  text-align: right;
  font-weight: bold;
  font-size: 25px;
  width: 250px;
}