.app {
  max-width: 100vh;
  position: relative;
  /*margin: 20px auto;*/
}

.search {
  width: 500px;
  position: absolute;
  top: 50px;
  left: calc(50vw - 250px);
  z-index: 1;
}

.forecast {
  position: absolute;
  z-index: 1;
  bottom: 23.6vh;
  /*left: 2vw;*/
  width: 400px;
  left: 75.8vw;
}